main{
  padding-top: 90px;
  padding-bottom: 55px;
  .preor{
    .all-contant{
      h3{
        margin-bottom: 20px;
      }
      .all{
        margin-bottom: 35px;
        p{
          color: #231f20;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
        }
        .first{
          margin-bottom: 50px;
        }
        img{
          display: block;
          margin: 0 auto;
        }
        .big{
          display: none;
        }
      }
    }
  }
  .schema-work{
    padding-top: 35px;
    position: relative;
    &:before{
      left: 0;
      top: 0;
      content: '';
      position: absolute;
      width: 68px;
      height: 104px;
      background: url('../img/schema-mob.png') no-repeat;
      z-index: 0;
    }
    h3{
      margin-bottom: 70px;
    }
    .all-slider-schema{
      .content{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        .one-step{
          position: relative;
          width: 100%;
          margin-bottom: 45px;
          max-width: 300px;
          .numb{
            color: #66c3d1;
            font-size: 12px;
            margin-bottom: 15px;
            font-weight: 700;
            display: block;
            padding-left: 80px;
          }
          .img{
            position: relative;
            margin: 0 auto;
            margin-bottom: 40px;
            padding-left: 20px;
            max-width: 100px;
            width: 100%;
            &:before{
              width: 46px;
              height: 46px;
              background-color: #ebf7f9;
              border-radius: 50%;
              content: '';
              position: absolute;
              left: 45px;
            }
            img{
              z-index: 2;
              position: relative;
            }
          }
          .circle{
            position: absolute;
            top: 85px;
            left: 0;
            right: 0;
            margin: auto;
            width: 9px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #66c3d1;
          }
          h6{
            padding-left: 20px;
            color: #231f20;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
          }
        }
        .to-right{
          &:after{
            height: 50px;
            content: '';
            position: absolute;
            top: 105%;
            left: 5px;
            right: 0;
            margin: auto;
            width: 2px;
            border-left: 2px dashed  #dddddd;
          }
        }
      }
      .show-more{
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: #B8BFC6;
        text-decoration: underline;
      }
      .sec-slide{
        display: none;
      }
    }
  }
}

@media (min-width: 425px) {
  main{
    .preor{
      .all-contant{
        .all{
          .big{
            display: block;
          }
          .small{
            display: none;
          }
        }
      }
    }
    .schema-work{
      .all-slider-schema{
        .content{
          .one-step{
            max-width: 350px;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  main{
    .schema-work{
      .all-slider-schema{
        .content{
          .one-step{
            max-width: 350px;
          }
        }
      }
    }
  }
} 

@media (min-width: 550px) {
  main{
    .schema-work{
      .all-slider-schema{
        .content{
          .one-step{
            max-width: 370px;
          }
        }
      }
    }
  }
} 

@media (min-width: 600px) {
  main{
    .schema-work{
      .all-slider-schema{
        .content{
          .one-step{
            max-width: 50%;
          }
          .to-right{
            &:after{
              width: 250px;
              height: 2px;
              border-top: 2px dashed #B8BFC6;
              top: 70%;
              right: auto;
              left: 57%;
            }
          }
          .second, .fourth, .sixth, .eight{
            &:after{
              display: none;
            }
          }
        }
      }
    }
  }
} 

@media (min-width: 768px) {
  main{
    .preor{
      .all-contant{
        width: 648px;
        padding: 0;
        margin: 0 auto;
        .all{
          margin-bottom: 85px;
          .first{
            padding: 0;
            max-width: 740px;
            width: 100%;
            margin-bottom: -35px;
          }
          .big{
            margin-bottom: -70px;
          }
        }
      }
    }
    .schema-work{
      .all-slider-schema{
        max-width: 945px;
        width: 100%;
        margin: 0 auto;
        .content{
          .to-right{
            &:after{
              left: 60%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main{
    .preor{
      .all-contant{
        width: 864px;
      }
    }
    .schema-work{
      &:before{
        background: url('../img/shema-desc.png') no-repeat;
        width: 427px;
        height: 557px;
        top: -250px;
      }
      .all-slider-schema{
        .one-slide{
          &:first-of-type{
            .content{
              &:before{
                width: 85%;
                content: '';
                height: 70px;
                position: absolute;
                right: 30px;
                top: 0;
                background: url('../img/line.png') no-repeat 100% 100%;
                background-size: contain;
              }
            }
          }
          &:last-of-type{
            .content{
              &:before{
                width: 87%;
                content: '';
                height: 70px;
                position: absolute;
                right: 0;
                top: 0;
                background: url('../img/line2.png') no-repeat 100% 100%;
                background-size: contain;
              }
            }
          }
          .content{
            justify-content: space-between;
            position: relative;
            .one-step{
              max-width: 155px;
              width: auto;
              h6{
                font-size: 15px;
                text-align: left;
              }
              .numb{
                padding-left: 0px;
              }
              &:after{
                display: none;
              }
            }
            .first{
              .circle{
                top: 5px;
                left: 9px;
              }
            }
            .second{
              .circle{
                top: 63px;
                left: 42px;
              }
            }
            .third{
              .circle{
                top: 4px;
              }
            }
            .fourth{
              .circle{
                left: auto;
                right: 4px;
                top: 59px;
              }
            }
            .fifth{
              .circle{
                top: 65px;
                left: 32px;
              }
            }
            .sixth{
              .circle{
                top: 2px;
              }
            }
            .sevens{
              .circle{
                top: 61px;
                left: 64px;
              }
            }
            .eight{
              .circle{
                top: 5px;
                left: auto;
                right: -13px;
              }
            }
          }
        }
        .show-more{
          display: none;
        }
        .sec-slide{
          display: flex;
          .content{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  main{
    .preor{
      .all-contant{
        width: 1080px;
      }
    }
    .schema-work{
      .all-slider-schema{
        .one-slide{
          &:first-of-type{
            .content{
              &:before{
                right: 45px;
              }
            }
          }
          .content{
            &:before{
              width: 810px;
              right: 0;
            }
            .first{
              .circle{
                top: 0;
                left: 4px;
              }
            }
            .third{
              .circle{
                left: 75px;
                top: 1px;
              }
            }
            .fourth{
              .circle{
                right: 22px;
              }
            }
            .fifth{
              .circle{
                top: 64px;
                left: 54px;
              }
            }
            .sixth{
              .circle{
                top: -2px;
                left: 36px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  main{
    padding-bottom: 100px;
    .preor{
      .all-contant{
        width: 1160px;
        h3{
          margin-bottom: 40px;
        }
        .all{
          .big{
            margin-bottom: -100px;
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  main{
    .preor{
      .all-contant{
        width: 1285px;
      }
    }
  }
}