<footer class="footer">
  <div class="container">
    <div class="top-footer">
      <div class="logo-link">
        <div class="logo">
          <a href="index.html" class="logo">
            <img src="img/logo2.png" alt="">
          </a>
        </div>
        <div class="links">
          <a href="tel:'+7 909 973-01-76'">
            <i class="icon-phone"></i>
            <span class="str">+7 909 973-01-76</span>
          </a>
          <a href="mailto:support@polygonmed.ru">
            <i class="icon-mail"></i>
            <span>support@polygonmed.ru</span>
          </a>
          <a href="javascript:void(0)">
            <i class="icon-gps"></i>
            <span>Moscow, 
              Kutuzovsky Ave 36 b. 3</span>
          </a>
        </div>
        <div class="social">
          <a href="">
            <img src="img/youtube.png" alt="" class="norm">
            <img src="img/youtube1.png" alt="" class="hove">
          </a>
          <a href="">
            <img src="img/facebook.png" alt="" class="norm">
            <img src="img/facebook1.png" alt="" class="hove">
          </a>
          <a href="">
            <img src="img/instagram.png" alt="" class="norm">
            <img src="img/instagram1.png" alt="" class="hove">
          </a>
        </div>
      </div>
      <ul class="c14">
        <h5>Медицина</h5>
        <li><a href="Traumat-ortoped.html">Травматология и ортопедия</a></li>
        <li><a href="Traumat-ortoped.html">Челюстно-лицевая хирургия</a></li>
        <li><a href="Traumat-ortoped.html">Нейрохирургия</a></li>
        <li><a href="Traumat-ortoped.html">Онкология</a></li>
      </ul>
      <ul  class="c14">
        <h5>Ветеринария</h5>
        <li><a href="vet-napravlenie.html">Коррекция деформаций</a></li>
        <li><a href="vet-napravlenie.html">Артродезирование</a></li>
        <li><a href="vet-napravlenie.html">Остеоитегрируемые протезы (ITAP)</a></li>
        <li><a href="vet-napravlenie.html">Онкология</a></li>
        <li><a href="vet-napravlenie.html">Спинальная хирургия</a></li>
      </ul>
      <ul  class="c14">
        <h5><a href="preoperative-planning.html">Предоперационное планирование</a></h5>
      </ul>
      <ul   class="non-child">
        <h5>О компании</h5>
        <li><a href="about-us">О нас</a></li>
        <li><a href="Medical-Advisor.html">Medical Advisors</a></li>
        <li><a href="">Наши работы</a></li>
      </ul>
      <ul class="non-child">
        <h5><a href="news.html">Новости </a></h5>
      </ul>
      <ul  class="non-child">
        <h5><a href="contact.html">Контакты</a></h5>
      </ul>
    </div>
    <div class="social">
      <a href="">
        <img src="img/youtube.png" alt="" class="norm">
        <img src="img/youtube1.png" alt="" class="hove">
      </a>
      <a href="">
        <img src="img/facebook.png" alt="" class="norm">
        <img src="img/facebook1.png" alt="" class="hove">
      </a>
      <a href="">
        <img src="img/instagram.png" alt="" class="norm">
        <img src="img/instagram1.png" alt="" class="hove">
      </a>
    </div>
    <div class="bottom-footer">
      <p><a href="javascript:void(0)">Политика обработки персональных данных</a></p>
      <p>© 2020 г., ООО «Бонабайт»</p>
      <p>Разработано в <a href="">"Студия Племя"</a></p>
    </div>
  </div>
</footer>