<header class="header">
  <div class="container">
    <div class="all-head">
      <a href="index.html" class="logo">
        <img src="img/logo.png" alt="">
      </a>
      <nav class="nav-mob">
        <ul>
          <li class="open-list">
            <a href="javascript:void(0)">Медицина</a>
            <i class="icon-triangle-1"></i>
          </li>
          <li><a href="">Травматология и ортопедия</a></li>
          <li><a href="">Челюстно-лицевая хирургия</a></li>
          <li><a href="">Нейрохирургия</a></li>
          <li><a href="">Онкология</a></li>
          <li class="open-list">
            <a href="javascript:void(0)">Ветеринария</a>
            <i class="icon-triangle-1"></i>
          </li>
          <li><a href="preoperative-planning.html">Предоперационное планирование</a></li>
          <li class="open-list">
            <a href="javascript:void(0)">О компании</a>
            <i class="icon-triangle-1"></i>
          </li>
          <li><a href="news.html">Новости </a></li>
          <li><a href="contact.html">Контакты</a></li>
        </ul>
      </nav>
      <nav class="nav-desk">
        <ul>
          <li class="open-list">
            <a href="javascript:void(0)">Медицина <i class="icon-triangle-1"></i></a>
          </li>
          <li class="open-list">
            <a href="javascript:void(0)">Ветеринария <i class="icon-triangle-1"></i></a>
            
          </li>
          <li><a href="preoperative-planning.html">Предоперационное <span>планирование</span></a></li>
          <li class="open-list">
            <a href="javascript:void(0)">О компании <i class="icon-triangle-1"></i></a>
          </li>
          <li><a href="news.html">Новости </a></li>
          <li><a href="contact.html">Контакты</a></li>
        </ul>
      </nav>
      <div class="right-part">
        <a href="javascript:void(0)'" class="phone">
          <img src="img/phone.png" alt="">
          <span>Связаться с нами</span>
        </a>
        <span class="burg">
          <img src="img/burger.png" alt="">
        </span>
      </div>
    </div>
  </div>
</header>