<div class="back-dark"></div>

<div class="pop-up vet-pop">
  <p class="close-pop">
    <span>+</span>
  </p>
  <div class="content-pop">
    <div class="image-block">
      <img src="img/vet1.jpg" alt="" class="main-img">
      <div class="dop">
        <img src="img/vet1.jpg" alt="">
        <img src="img/vet2.jpg" alt="">
      </div>
    </div>
    <div class="text-block">
      <h4>Заголовок в одну или две строчки</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae a.</p>
    </div>
  </div>
</div>

<div class="pop-up contact-pop">
  <p class="close-pop">
    <span>+</span>
  </p>
  <div class="contant-pop">
    <h3>Связаться с нами</h3>
    <form action="">
      <input type="text" placeholder="Ваше имя">
      <input type="text" placeholder="Ваш телефон" id="phone2">
      <input type="email" placeholder="Ваша почта">
      <textarea placeholder="Введите ваш коментарий"></textarea>
      <span>Спасибо за заявку! Наш менеджер свяжется с вами в ближайшее время</span>
      <button class="blue-button">Отправить</button>
    </form>
  </div>
</div>

<div class="pop-up med-pop">
  <p class="close-pop">
    <span>+</span>
  </p>
  <div class="content-pop">
    <img src="img/vet1.jpg" alt="" class="main-img">
    <div class="text-block">
      <h4>Заголовок в одну или две строчки</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae a.</p>
    </div>
  </div>
</div>

<div class="pop-up politic-pop">
  <p class="close-pop">
    <span>+</span>
  </p>
  <div class="contant-pop">
    <h4>Политика конфиденциальности</h4>
    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
    <ul>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
      <li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </li>
    </ul>
  </div>
</div>